/* @media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

} */

* {
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

:root {
    /* --color1: #A7ACD9;
    --color2: #000000; */

    --color1: #ADD7F6;
    --color2: #000000;


    /* --color1: #2C302E; */
    /* --color1: #282A35; */




    /* --color2: #fbf7fc; */
    /* --color1: #314CB6; */
}

html {
    scroll-behavior: smooth;
}

.html_icon {
    color: #e44d26;
}

.css_icon {
    color: #2965f1;
}

.js_icon {
    color: #f2ce37;
}

.react_icon {
    color: #09cef2;
}

.git_icon {
    color: #f84e28;
}

.chart_icon {
    color: rgb(3 239 98);
}

.section_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 25px;
    padding: 0px 20px 20px 20px;
}

@media (min-width: 576px) {
    .section_container {
        padding: 0px 30px 30px 30px;
    }
}

@media (min-width: 768px) {
    .section_container {
        padding: 0px 40px 40px 40px;
    }
}

@media (min-width: 992px) {
    .section_container {
        padding: 0px 60px 60px 60px;
    }
}

@media (min-width: 1200px) {
    .section_container {
        padding: 0px 80px 80px 80px;
    }
}

@media (min-width: 1400px) {

}
















/* Intro Section Start  */
header {
    min-height: 100vh;
    background-color: var(--color1);
    color: var(--color2);
    text-align: center;
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 40px;
}

.header_social a i{
    color: var(--color2);
    font-size: 45px;
    margin-right: 12px;
}

header > div {
    width: 100%;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
    header {
        text-align: initial;
        padding: 0 150px;
    }

    header h1 {
        font-size: 80px;
    }

    header h2 {
        font-size: 40px;
    }

    .header_social a i{
        font-size: 60px;
        margin-right: 20px;
    }
}

@media (min-width: 1400px) {

}
/* Intro Section End  */







































/* Skill Section Start  */
.skill_card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
    /* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}

.skill_card:hover {
    transition: 0.7s;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset; */
}

.skill_card h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.skill_card p {  
    flex-grow: 1;
    font-weight: 900;
    line-height: 25px;
    text-align: start;
}

.skill_card p::first-letter {
    text-decoration: underline;
    font-size: 20px;
}

.skill_card div i{
    margin: 0 10px;
}
/* Skills Section End  */














































/* Projects Section Start  */
#projects {
    background-color: var(--color1);
}

.projects_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project_card {
    background-color: var(--color2);
    border: 1px solid white;
    width: 26em;
    min-height: 17em;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: 0.8s ease;
}

.project_card:hover {
    transform: scale(1.05);
}

.project_photo img {
    width: 100%;
}

.projecr_description {
    padding: 10px;
}

.projecr_description h3 {
    font-size: 1.2em;
    font-weight: bold;
}

.projecr_description p {
    font-size: 1em;
}

.project_tools a i{
    padding-top: 10px;
    font-size: 2em;
}  

.projects_soon{
    color: var(--color2);
    text-align: center;
    padding-bottom: 40px;
}
/* Project Section End  */































/* Certificates Section Start */
.b2 {
    color: var(--color1);
}

.certificate_card {
    text-align: center;
    padding: 20px;
    /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
}

.certificate_card:hover {
    transition: 2.5s ease-out;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.certificate_card .photo{ 
    display: flex;
    align-items: center;
    min-height: 100px;
    justify-content: center;
}

.certificate_card img{ 
    width: 300px;
}

.card_1 {
    box-shadow: rgb(218 168 85) 0px 0px 0px 6px; 
}

.card_2 {
    box-shadow: rgb(0 86 210) 0px 0px 0px 6px; 
}

.card_3 {
    box-shadow: rgb(3 239 98) 0px 0px 0px 6px; 
}

.logos {
    display: flex;
    justify-content: space-evenly;
}
/* Certificates Section End  */

















































/* Footer Section Start  */
footer {
    background-color: var(--color1);
    color: var(--color2);
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer h3 {
    font-size: 1.6em;
}

footer a {
    font-size: 2em;
    margin-right: 10px;
    color: var(--color2);
}
@media (min-width: 576px) {

}

@media (min-width: 768px) {
    footer a {
        font-size: 2.5em;
        margin-right: 15px;
    }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
    footer a {
        margin-right: 22px;
        font-size: 3em;
    }
}

@media (min-width: 1400px) {

}
/* Footer Section End  */

















/* Section Headers */
.section_header {
    font-size: 4em;
    text-align: center;
    padding: 40px;
    margin: 0;
}
.black_header {
    color: var(--color1);
}

.white_header {
    color: var(--color2);
}

@media (max-width: 600px) {
    header {
        padding: 10px;
    }

    #skills {
        flex-direction: column;
        align-items: center;
    }
    
    .skills-card {
        text-align: center;
        width: 90%;
    }

    .projects_section {
        flex-direction: column;
        align-items: center;
    }

    .project_card {
        width: 90%;
    }

    .contact_div {
        flex-direction: column;
        align-items: center;
    }
    
    .contact_card {
        width: 90%;
    }
}

@media (max-width: 1000px) {
    header {
        padding: 10px;
    }

    #skills {
        flex-direction: column;
        align-items: center;
    }
    
    .skills-card {
        text-align: center;
        width: 90%;
    }

    .projects_section {
        flex-direction: column;
        align-items: center;
    }

    .project_card {
        width: 90%;
    }

    .contact_div {
        flex-direction: column;
        align-items: center;
    }
    
    .contact_card {
        width: 90%;
    }
}


.animation i {
    font-size: 100px;
}

.animation {
    opacity: 0.3;
    top: -43px;
    right: 50px;
    position: absolute;
}

.x2 {
    animation-name: move;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
}

.x3 {
    animation-name: move;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
}

.x4 {
    animation-name: move;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 4s;
}

.x5 {
    animation-name: move;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 5s;
}
@keyframes move {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(calc(100vh + 43px));
    }
}




/* .skill_animation i:nth-child(2) {
    animation-name: doit;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2s;
}

@keyframes doit {
    25% {
        transform: translateX(2px);
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(-2px);
    }
    100% {
        transform: translateX(0px);
    }
} */